.custom-shadow {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

/* Custom style for olive green text color */
.text-olive-green {
    color: #4A6E30; /* Replace with your actual olive green color hex code */
}

.login-message {
    color: var(--olive-green);
    font-family: 'Inter-medium', sans-serif;
}

.welcome {
    font-size: 40px;
}

.continue {
    font-size: 13px;
    line-height: 0.5; /* Adjust this value to change the spacing between lines */
    margin-bottom: 3px; /* Added margin to create space between "Login to continue" and EID Number */
}

.custom-label {
    font-family: 'Inter Medium', sans-serif;
    font-size: 12px;
    color: var(--dark-charcoal);
    margin-bottom: 5px;
}

.custom-input {
    font-family: 'Inter Regular', sans-serif; /* Set font family for user input */
    font-size: 13px; /* Set font size for user input */
    border-width: 2px; /* Set initial border width */
    border-color: var(--olive-green); /* Set initial border color */
    height: 35px; 
    transition: border-color 0.3s ease; 
}

/* Change border color and maintain width on focus */
.custom-input:focus {
    border-color: #5E8B3B; 
    border-width: 3px;
    outline: none; 
}


.custom-input::placeholder {
    font-style: italic; 
    font-size: 12px; 
    color: #A0AEC0; 
}


/* login-tailwind.css */

.login-button {
    font-family: 'Inter Regular', sans-serif;
    background: linear-gradient(to right, #75A450, #E1D66D); /* Use the desired gradient colors */
    color: white;
    border: none;
    border-radius: 30px; 
    padding: 10px;
    font-size: 0.875rem; /* Equivalent to text-sm */
    text-transform: uppercase;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

.login-button:hover {
    background: #75A450; /* Slightly darker green on hover */
}

/* Customized vertical spacing (smaller than Tailwind's default space-y classes) */
.space-y-custom > * + * {
    margin-top: 6px; /* Adjust this value to control the spacing */
}

.hover-olive-green:hover {
    color: var(--olive-green);
    font-family: 'Inter Medium', sans-serif;
}
